/* Here is your custom css styles. */
/* 修改首页轮播的标题大小 */
@media only screen and (max-width: 601px) {
    .bg-cover .title {
        font-size: 2.5rem;
    }
}

/* 修改博客标题的字体大小 */
@media only screen and (max-width: 601px) {
    header .brand-logo .logo-span {
        font-size: 1.5rem;
    }
}

/* 全局字体自定义 */
body {
    font-family: 'Noto Serif SC', serif;
    font-size: 1.2rem;
}


#articleContent {
    font-size: 1.2rem
}

/* 局部字体自定义 */ 
 #articleContent > p { 
    /* font-family: 'ZCOOL XiaoWei', serif;  */
    font-size: 1.2rem; } 

#articleContent > ol { 
    /* font-family: 'ZCOOL XiaoWei', serif;  */
    font-size: 1.2rem; } 

#articleContent > ul { 
    /* font-family: 'ZCOOL XiaoWei', serif;  */
    font-size: 1.2rem; } 

#articleContent > li { 
        /* font-family: 'ZCOOL XiaoWei', serif;  */
        font-size: 1.2rem; } 

#articleContent > ul > li { 
    /* font-family: 'ZCOOL XiaoWei', serif;  */
    font-size: 1.2rem; } 

#articleContent > ul > li > p { 
    /* font-family: 'ZCOOL XiaoWei', serif;  */
    font-size: 1.2rem; } 

#articleContent > ul > li > ul > li { 
    /* font-family: 'ZCOOL XiaoWei', serif;  */
    font-size: 1.2rem; } 
    
#articleContent > blockquote { 
    /* font-family: 'ZCOOL XiaoWei', serif;  */
    font-size: 1.2rem; }

#articleContent > p > code { 
    /* font-family: 'ZCOOL XiaoWei', serif;  */
    font-size: 1.2rem; } 

#articleContent > ol > li > ul > li > code { 
    /* font-family: 'ZCOOL XiaoWei', serif;  */
    font-size: 1.2rem; } 

#articleContent > table { 
    /* font-family: 'ZCOOL XiaoWei', serif;  */
    font-size: 1.2rem; }  
    
#articleContent > div > pre > code { 
    font-family: 'JetBrains Mono', monospace; 
}
